working/code/bw/SFC_CommonLECore-master/Processes/CLE/Service/Log/SharedResources/SchemaDefinitions/_EntityOrResource_[_v_Number_].xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/ModuleName/PackageName/Service/EntityOrResource[_vNumber]"
	 targetNamespace="http://www.tibco.com/schemas/ModuleName/PackageName/Service/EntityOrResource[_vNumber]"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="OperationNameRequest" type="OperationNameRequestType"/>
	<xs:element name="OperationNameResponse" type="OperationNameResponseType"/>
	<xs:complexType name="OperationNameRequestType"/>
	<xs:complexType name="OperationNameResponseType"/>
</xs:schema>