working/code/bpm/SFC_Provisioning_ToBe/Service Descriptors/FetchResource.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL--><wsdl:definitions xmlns:ns0="http://www.tibco.com/schemas/FetchResource/Schemas/Schema.xsd" xmlns:ns1="http://www.tibco.com/schemas/FetchResource/Schemas/Schema1.xsd" xmlns:ns2="http://www.tibco.com/schemas/FetchResource/Schemas/Schema2.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://xmlns.example.com/1509116265689" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Untitled" targetNamespace="http://xmlns.example.com/1509116265689" tibex:src="file:/D:/Project/Safaricom/Codebase/BPM/ConcreteWSDL/FetchResource.wsdl">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/FetchResource/Schemas/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/schemas/FetchResource/Schemas/Schema.xsd">
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/FetchResource/Schemas/Schema1.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/schemas/FetchResource/Schemas/Schema1.xsd">
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="resources">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="guid" type="xs:string"/>
                                    <xs:element name="label" type="xs:string"/>
                                    <xs:element name="name" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/FetchResource/Schemas/Schema2.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/schemas/FetchResource/Schemas/Schema2.xsd">
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="faultMsg" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="fetchResources-service3">
        <wsdl:port binding="tns:PortTypeEndpoint3Binding" name="PortTypeEndpoint3">
            <soap:address location="http://rbapat-t470:7058/Service/fetchResources-service3.serviceagent/PortTypeEndpoint3"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="getResources">
            <wsdl:input message="tns:input"/>
            <wsdl:output message="tns:output"/>
            <wsdl:fault message="tns:fault" name="fault1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortTypeEndpoint3Binding" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getResources">
            <soap:operation soapAction="/Service/fetchResources-service3.serviceagent/PortTypeEndpoint3/getResources" style="document"/>
            <wsdl:input>
                <soap:body parts="part1" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="part1" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="input">
        <wsdl:part element="ns0:root" name="part1"/>
    </wsdl:message>
    <wsdl:message name="output">
        <wsdl:part element="ns1:root" name="part1"/>
    </wsdl:message>
    <wsdl:message name="fault">
        <wsdl:part element="ns2:root" name="part1"/>
    </wsdl:message>
</wsdl:definitions>
