working/code/bw/SFC_FOS_BPM/Processes/SFC_FOS_Interface/Integration/InitiateBPMDeComissioning/SubProcesses/InitiateDeComissioning/WSDL/removal_to_be.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tibco.com/bs3.0/_n2-EEN_AEee7mPhVBav8gw/comsfcfosImplremoval_tobeRemoval" xmlns:ns0="http://example.com/sfc_provisioningbom" xmlns:ns1="http://www.tibco.com/bs3.0/_n2-EEN_AEee7mPhVBav8gw" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="comsfcfosImplremoval_tobeRemoval" targetNamespace="http://www.tibco.com/bs3.0/_n2-EEN_AEee7mPhVBav8gw/comsfcfosImplremoval_tobeRemoval">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/bs3.0/_n2-EEN_AEee7mPhVBav8gw" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://example.com/sfc_provisioningbom"/>
            <xs:simpleType name="string_50">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="50"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/sfc_provisioningbom" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.tibco.com/bs3.0/_n2-EEN_AEee7mPhVBav8gw"/>
            <xs:annotation>
                <xs:documentation>
                    <ns0:DocumentationElement BOMORIGIN="/SFC_ProvisioningBOM/Business Objects/SFC_ProvisioningBOM.bom"/>
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType name="AccountType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="NEW"/>
                    <xs:enumeration value="MIGRATION"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Bandwidth">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="FFB5"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="Case1">
                <xs:sequence>
                    <xs:element name="SLALevel" form="unqualified">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:totalDigits value="19"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="taskName" form="unqualified">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="SLA_Deadline" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="emailTo" form="unqualified" type="ns0:EmailRecipient" minOccurs="0"/>
                    <xs:element name="taskTo" form="unqualified" type="ns0:TaskRecipient" minOccurs="0"/>
                    <xs:element name="emailConfig" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="taskConfig" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="EmailRecipient">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="NONE"/>
                    <xs:enumeration value="GROUP"/>
                    <xs:enumeration value="PERSON"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="EquipmentDetails">
                <xs:sequence>
                    <xs:element name="type" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="address" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="VLAN" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProvisioningDataModel">
                <xs:sequence>
                    <xs:element name="siebelCircuitID" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="projectManager" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="clientName" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="accountManager" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="account" form="unqualified" type="ns0:AccountType" minOccurs="0"/>
                    <xs:element name="contractor" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="location" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="regionView" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="floor" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="clientID" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="serviceType" form="unqualified" type="ns0:ServiceType" minOccurs="0"/>
                    <xs:element name="GPSCoordinates" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="bandwidthupdown" form="unqualified" type="ns0:Bandwidth" minOccurs="0"/>
                    <xs:element name="technology" form="unqualified" type="ns0:TechnologyList" minOccurs="0"/>
                    <xs:element name="serviceStatus" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="buildingName" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="buildingID" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="contactPerson" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="mobile" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="sector" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="email" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="serviceStart" form="unqualified" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="serviceEnd" form="unqualified" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="requestDate" form="unqualified" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="installDate" form="unqualified" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="notesComments" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="ServiceStatus">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="REGISTERED"/>
                    <xs:enumeration value="VERIFIED"/>
                    <xs:enumeration value="APPROVED"/>
                    <xs:enumeration value="COMPLETED"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="ServiceType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="INTERNET"/>
                    <xs:enumeration value="FIBER"/>
                    <xs:enumeration value="WIMAX"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="SystemParameters">
                <xs:sequence>
                    <xs:element name="propertyName" form="unqualified">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="propertyValue" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="TaskRecipient">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="NONE"/>
                    <xs:enumeration value="GROUP"/>
                    <xs:enumeration value="PERSON"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="TechnologyList">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="FIBER"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="TehnicalInformation">
                <xs:sequence>
                    <xs:element name="carrierVLAN" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="carrierIP" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="aggPoint" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="port" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="clientVLAN" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="clientIP" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="SFCPOPPE" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="portType" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="equipment" form="unqualified" type="ns0:EquipmentDetails" maxOccurs="unbounded"/>
                    <xs:element name="modifiedBy" form="unqualified" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="modifiedDate" form="unqualified" type="xs:date" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AccountTypeElement">
                <xs:simpleType>
                    <xs:restriction base="ns0:AccountType"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="BandwidthElement">
                <xs:simpleType>
                    <xs:restriction base="ns0:Bandwidth"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Case1Element" type="ns0:Case1"/>
            <xs:element name="EmailRecipientElement">
                <xs:simpleType>
                    <xs:restriction base="ns0:EmailRecipient"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="EquipmentDetailsElement" type="ns0:EquipmentDetails"/>
            <xs:element name="ProvisioningDataModelElement" type="ns0:ProvisioningDataModel"/>
            <xs:element name="ServiceStatusElement">
                <xs:simpleType>
                    <xs:restriction base="ns0:ServiceStatus"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ServiceTypeElement">
                <xs:simpleType>
                    <xs:restriction base="ns0:ServiceType"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="SystemParametersElement" type="ns0:SystemParameters"/>
            <xs:element name="TaskRecipientElement">
                <xs:simpleType>
                    <xs:restriction base="ns0:TaskRecipient"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TechnologyListElement">
                <xs:simpleType>
                    <xs:restriction base="ns0:TechnologyList"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TehnicalInformationElement" type="ns0:TehnicalInformation"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="comsfcfosImplremoval_tobeRemoval_CatchMessageEvent_INPUT">
        <wsdl:part name="Provisioning_Data" type="ns0:ProvisioningDataModel"/>
        <wsdl:part name="TaskName" type="ns1:string_50"/>
        <wsdl:part name="TechnicalInfo" type="ns0:TehnicalInformation"/>
    </wsdl:message>
    <wsdl:portType xmlns:ns2="http://www.tibco.com/bs3.2/extensions" name="comsfcfosImplremoval_tobeRemoval" ns2:FlowContainer="_n3OiwN_AEee7mPhVBav8gw">
        <wsdl:operation name="CatchMessageEvent">
            <wsdl:input message="tns:comsfcfosImplremoval_tobeRemoval_CatchMessageEvent_INPUT" ns2:Event="_8ExaIt_AEee7mPhVBav8gw"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="comsfcfosImplremoval_tobeRemoval_EP" type="tns:comsfcfosImplremoval_tobeRemoval">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CatchMessageEvent">
            <wsdl:documentation/>
            <soap:operation style="rpc" soapAction="CatchMessageEvent"/>
            <wsdl:input>
                <soap:body use="literal" parts="Provisioning_Data TaskName TechnicalInfo"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="comsfcfosImplremoval_tobeRemoval">
        <wsdl:port name="comsfcfosImplremoval_tobeRemoval_EP" binding="tns:comsfcfosImplremoval_tobeRemoval_EP">
            <soap:address location="http://0.0.0.0:8088/comsfcfosImplremoval_tobe/comsfcfosImplremoval_tobeRemoval"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>