working/code/bw/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/Shared Resources/WSDL/FOSBPMInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/FetchResource/Schemas/Schema.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://www.tibco.com/schemas/FetchResource/Schemas/Schema1.xsd" xmlns:ns4="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/WorkCompletion/Schemas/Schema.xsd" xmlns:ns3="http://www.tibco.com/schemas/FetchResource/Schemas/Schema2.xsd" xmlns:ns6="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/WorkCompletion/Schemas/Schema2.xsd" xmlns:ns5="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/WorkCompletion/Schemas/Schema1.xsd" xmlns:ns8="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/FetchResource/Schemas/Schema1.xsd" xmlns:ns7="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/FetchResource/Schemas/Schema.xsd" xmlns:ns13="http://www.tibco.com/schemas/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/SubProcesses/ResourceCreation/Schemas/Schema.xsd" xmlns:ns12="http://www.tibco.com/schemas/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/New folder/Schemas/Schema1.xsd" xmlns:ns9="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/FetchResource/Schemas/Schema2.xsd" xmlns:ns11="http://www.tibco.com/schemas/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/New folder/Schemas/Schema4.xsd" xmlns:ns10="http://www.tibco.com/schemas/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/New folder/Schemas/Schema3.xsd" xmlns:ns17="http://xmlns.example.com/1509116125289" xmlns:ns25="http://www.tibco.com/schemas/SFC_FOS_BPM/SharedResources/SchemaDefinitions/Schema.xsd" targetNamespace="http://xmlns.example.com/1509116125289">
  
   
    <import namespace="http://www.tibco.com/schemas/SFC_FOS_BPM/SharedResources/SchemaDefinitions/Schema.xsd" location="../SchemaDefinitions/sfcfosbpmschema.xsd"/>
    <message name="FetchResourceinput">
        <part name="fetchresourceinput" element="ns25:fetchresourceinput"/>
    </message>
    <message name="FetchResourceoutput">
        <part element="ns25:fetchresourceoutput" name="fetchresourceoutput"/>
    </message>
    <message name="FetchResourcefault">
        <part element="ns25:fault" name="fault"/>
    </message>
    <message name="WorkCompletioninput">
        <part element="ns25:workitemcompletioninput" name="workitemcompletioninput"/>
    </message>
    <message name="WorkCompletionoutput">
        <part element="ns25:workitemcompletionoutput" name="workitemcompletionoutput"/>
    </message>
    <message name="WorkCompletionfault">
        <part element="ns25:fault" name="fault"/>
    </message>
    <message name="Onbordinginput">
        <part element="ns25:ldapentryinputrepeat" name="ldapentryinput"/>
    </message>
    <message name="Onbordingoutput">
        <part element="ns25:ldapentryinputrepeat" name="ldapentryoutput"/>
    </message>
    <message name="Onbordingfault">
        <part element="ns25:fault" name="fault"/>
    </message>
    <message name="ResourceCreationiput">
        <part element="ns25:createresourceinput" name="createresourceinput"/>
    </message>
    <message name="ResourceCreationoutput">
        <part element="ns25:createresourceinput" name="createresourceoutput"/>
    </message>
    <message name="ResourceCreationfault">
        <part element="ns25:fault" name="fault"/>
    </message>
    <message name="notifyPlanItemExecuteReplyInput">
        <part name="input" element="ns25:notifyPlanItemExecuteReplyRequest"/>
    </message>
    <message name="notifyPlanItemExecuteReplyResponse">
        <part name="output" element="ns25:notifyPlanItemExecuteReplyResponse"/>
    </message>
    <message name="notifyPlanItemExecuteReplyFault">
        <part name="Fault" element="ns25:fault"/>
    </message>
    <portType name="PortType">
        <operation name="getResources">
            <input message="ns17:FetchResourceinput"/>
            <output message="ns17:FetchResourceoutput"/>
            <fault name="fault1" message="ns17:FetchResourcefault"/>
        </operation>
        <operation name="WorkCompletion">
            <input message="ns17:WorkCompletioninput"/>
            <output message="ns17:WorkCompletionoutput"/>
            <fault name="fault1" message="ns17:WorkCompletionfault"/>
        </operation>
        <operation name="Onboarding">
            <input message="ns17:Onbordinginput"/>
            <output message="ns17:Onbordingoutput"/>
            <fault name="fault1" message="ns17:Onbordingfault"/>
        </operation>
        <operation name="ResourceCreation">
            <input message="ns17:ResourceCreationiput"/>
            <output message="ns17:ResourceCreationoutput"/>
            <fault name="fault1" message="ns17:ResourceCreationfault"/>
        </operation>
        <operation name="notifyPlanItemExecuteReply">
            <input message="ns17:notifyPlanItemExecuteReplyInput"/>
            <output message="ns17:notifyPlanItemExecuteReplyResponse"/>
        </operation>
    </portType>
</definitions>