working/code/bw/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/Shared Resources/WSDL/Orchestrator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:pd="http://xmlns.tibco.com/bw/process/2003" xmlns:ns="com/tibco/pe/commands" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" xmlns:tib="http://www.tibco.com/bw/xslt/custom-functions" xmlns:ns2="http://www.tibco.com/pe/DeployedVarsType" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.tibco.com/ws/BS_CommercialOrderManagement">
    <wsdl:types>
        <xsd:schema xmlns="http://www.tibco.com/SharedResources/SchemaDefinitions/Messaging/Header" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/SharedResources/SchemaDefinitions/Messaging/Header">

	<!--
/******************************************************************************
  Name:         	header
  Description:    	Header Schema to all EAI classes

   History:
   Ver.        	Date				Author(s)           			Description
   _______________________________________________________
   1.0        	26-10-2017		Bruno Vazquez				Creation
******************************************************************************/
-->
            <xsd:element name="HeaderInput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="Control"/>
                        <xsd:element ref="Credentials"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Control">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="source" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="target" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="trackingID" nillable="true" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="correlationID" nillable="true" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="processComponent" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="keyName" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="keyValue" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="hostname" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="creationDateTime" nillable="true" type="xsd:dateTime"/>
                        <xsd:element minOccurs="0" name="timeout" nillable="true" type="xsd:long"/>
                        <xsd:element minOccurs="0" name="language" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="country" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="sequence" type="xsd:int"/>
                        <xsd:element minOccurs="0" name="tryNum" type="xsd:int"/>
                        <xsd:element minOccurs="0" name="timestamp" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="HeaderOutput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="Control"/>
                        <xsd:element name="Status">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="statusCode" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="statusDescription" type="xsd:string"/>
                                    <xsd:element name="isError" type="xsd:boolean"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Credentials">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="application" type="xsd:string"/>
                        <xsd:element name="user" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="password" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/BS_CommercialOrderManagement/Orchestrator/Service/OrchestratorManager_v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/schemas/BS_CommercialOrderManagement/Orchestrator/Service/OrchestratorManager_v1">
            <xs:element name="NotifyPlanItemExecuteReplyRequest" type="NotifyPlanItemExecuteReplyRequestType"/>
            <xs:complexType name="NotifyPlanItemExecuteReplyRequestType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="orderID" type="xs:string"/>
                    <xs:element minOccurs="0" name="orderRef" type="xs:string"/>
                    <xs:choice>
                        <xs:sequence>
                            <xs:element name="planID" type="xs:string"/>
                            <xs:element name="planItemID" type="xs:string"/>
                        </xs:sequence>
                        <xs:element name="calculatedPlanItemID" type="xs:string"/>
                    </xs:choice>
                    <xs:element minOccurs="0" name="resultCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" type="xs:string"/>
                    <xs:element name="isError" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="UDF">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="value" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Orchestrator">
        <wsdl:port xmlns:ns0="http://www.tibco.com/ws/BS_CommercialOrderManagement" name="OrchestratorManager_v1PortTypeJMS" binding="ns0:OrchestratorManager_v1PortTypeJMSBinding">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://172.29.127.99:11155</jndi:property>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
            </jndi:context>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">SFC.UTIL.SERVICE.COMMON.SOAP</jms:targetAddress>
        </wsdl:port>
        <wsdl:port xmlns:ns0="http://www.tibco.com/ws/BS_CommercialOrderManagement" name="OrchestratorManager_v1PortTypeHTTP" binding="ns0:OrchestratorManager_v1PortTypeHTTPBinding">
            <soap:address location="http://localhost:15052/ws/BS_CommercialOrderManagement"/>
        </wsdl:port>
        <wsdl:port xmlns:ns0="http://www.tibco.com/ws/BS_CommercialOrderManagement" name="OrchestratorManager_v1PortType1.1JMS" binding="ns0:OrchestratorManager_v1PortType1.1JMSBinding">
            <soap1:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://172.29.127.99:11155</jndi:property>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
            </jndi:context>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">SFC.UTIL.SERVICE.COMMON.SOAP</jms:targetAddress>
        </wsdl:port>
        <wsdl:port xmlns:ns0="http://www.tibco.com/ws/BS_CommercialOrderManagement" name="OrchestratorManager_v1PortType1.1HTTP" binding="ns0:OrchestratorManager_v1PortType1.1HTTPBinding">
            <soap1:address location="http://localhost:15052/ws/BS_CommercialOrderManagement"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="OrchestratorManager_v1PortType">
        <wsdl:operation name="notifyPlanItemExecuteReply">
            <wsdl:input xmlns:ns0="http://www.tibco.com/ws/BS_CommercialOrderManagement" message="ns0:NotifyPlanItemExecuteReplyRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding xmlns:ns0="http://www.tibco.com/ws/BS_CommercialOrderManagement" name="OrchestratorManager_v1PortTypeJMSBinding" type="ns0:OrchestratorManager_v1PortType">
        <soap:binding transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" style="document"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="notifyPlanItemExecuteReply">
            <soap:operation soapAction="/notifyPlanItemExecuteReply" soapActionRequired="true" style="document"/>
            <wsdl:input>
                <soap:header message="ns0:HeaderInputMessage" part="HeaderInput" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding xmlns:ns0="http://www.tibco.com/ws/BS_CommercialOrderManagement" name="OrchestratorManager_v1PortTypeHTTPBinding" type="ns0:OrchestratorManager_v1PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="notifyPlanItemExecuteReply">
            <soap:operation soapAction="/notifyPlanItemExecuteReply" soapActionRequired="true" style="document"/>
            <wsdl:input>
                <soap:body parts="body" use="literal"/>
                <soap:header use="literal" message="ns0:HeaderInputMessage" part="HeaderInput"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding xmlns:ns0="http://www.tibco.com/ws/BS_CommercialOrderManagement" name="OrchestratorManager_v1PortType1.1JMSBinding" type="ns0:OrchestratorManager_v1PortType">
        <soap1:binding transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" style="document"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="notifyPlanItemExecuteReply">
            <soap1:operation soapAction="/notifyPlanItemExecuteReply" soapActionRequired="true" style="document"/>
            <wsdl:input>
                <soap1:header message="ns0:HeaderInputMessage" part="HeaderInput" use="literal"/>
                <soap1:body parts="body" use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding xmlns:ns0="http://www.tibco.com/ws/BS_CommercialOrderManagement" name="OrchestratorManager_v1PortType1.1HTTPBinding" type="ns0:OrchestratorManager_v1PortType">
        <soap1:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="notifyPlanItemExecuteReply">
            <soap1:operation soapAction="/notifyPlanItemExecuteReply" soapActionRequired="true" style="document"/>
            <wsdl:input>
                <soap1:body parts="body" use="literal"/>
                <soap1:header use="literal" message="ns0:HeaderInputMessage" part="HeaderInput"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="NotifyPlanItemExecuteReplyRequestMessage">
        <wsdl:part xmlns:ns0="http://www.tibco.com/schemas/BS_CommercialOrderManagement/Orchestrator/Service/OrchestratorManager_v1" name="body" element="ns0:NotifyPlanItemExecuteReplyRequest"/>
    </wsdl:message>
    <wsdl:message name="HeaderOutputMessage">
        <wsdl:part xmlns:ns0="http://www.tibco.com/SharedResources/SchemaDefinitions/Messaging/Header" name="HeaderOutput" element="ns0:HeaderOutput"/>
    </wsdl:message>
    <wsdl:message name="HeaderInputMessage">
        <wsdl:part xmlns:ns0="http://www.tibco.com/SharedResources/SchemaDefinitions/Messaging/Header" name="HeaderInput" element="ns0:HeaderInput"/>
    </wsdl:message>
</wsdl:definitions>