working/code/bpm/com.sfc.fosImpl.dataModel/.precompiled/bom2Xsd/com.sfc.fosImpl.bizData.dataModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://bizData.fosImpl.sfc.com/dataModel" xmlns:tns1="http://bizData.fosImpl.sfc.com/dataModel"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bizData.fosImpl.sfc.com/dataModel">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.sfc.fosImpl.dataModel/Business Objects/com.sfc.fosImpl.bizData.dataModel.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="Technical_Information" id="_oVYmcBbLEei5zJcabt9kCg"
      name="Technical_Information">
    <xsd:sequence>
      <xsd:element ecore:name="carrierVLAN" id="_sjAdcBbLEei5zJcabt9kCg" maxOccurs="1"
          minOccurs="0" name="carrierVLAN">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="carrierIP" id="_sjBrkBbLEei5zJcabt9kCg" maxOccurs="1"
          minOccurs="0" name="carrierIP">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="aggPoint" id="_sjBrkxbLEei5zJcabt9kCg" maxOccurs="1"
          minOccurs="0" name="aggPoint">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="port" id="_sjCSoBbLEei5zJcabt9kCg" maxOccurs="1" minOccurs="0"
          name="port">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="clientVLAN" id="_sjCSoxbLEei5zJcabt9kCg" maxOccurs="1"
          minOccurs="0" name="clientVLAN">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="clientIP" id="_sjC5sBbLEei5zJcabt9kCg" maxOccurs="1"
          minOccurs="0" name="clientIP">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="SFCPOPPE" id="_sjC5sxbLEei5zJcabt9kCg" maxOccurs="1"
          minOccurs="0" name="SFCPOPPE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="portType" id="_sjDgwBbLEei5zJcabt9kCg" maxOccurs="1"
          minOccurs="0" name="portType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="modifiedBy" id="_sjDgwxbLEei5zJcabt9kCg" maxOccurs="1"
          minOccurs="0" name="modifiedBy">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="modifiedDate" id="_sjDgxhbLEei5zJcabt9kCg" maxOccurs="1"
          minOccurs="0" name="modifiedDate" type="xsd:date"/>
      <xsd:element ecore:name="siebelCircuitID" id="_uvKzABbLEei5zJcabt9kCg" maxOccurs="1"
          minOccurs="1" name="siebelCircuitID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="equipment" id="_5luF0BbLEei5zJcabt9kCg" maxOccurs="unbounded"
          minOccurs="0" name="equipment" type="tns1:Equipment_Details"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Equipment_Details" id="_0RkEkBbLEei5zJcabt9kCg" name="Equipment_Details">
    <xsd:sequence>
      <xsd:element ecore:name="type" id="_3IJ3NxbLEei5zJcabt9kCg" maxOccurs="1" minOccurs="0"
          name="type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="address" id="_3IKeQBbLEei5zJcabt9kCg" maxOccurs="1"
          minOccurs="0" name="address">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="VLAN" id="_3IKeQxbLEei5zJcabt9kCg" maxOccurs="1" minOccurs="0"
          name="VLAN">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Customer_Information" id="_EtWckCgaEei5K6PV_O0G8g"
      name="Customer_Information">
    <xsd:sequence>
      <xsd:element ecore:name="siebelCircuitID" id="_A-_fACgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="1" name="siebelCircuitID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="projectManager" id="_C16kYCgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="1" name="projectManager">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="clientName" id="_DNMb8CgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="clientName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="accountManager" id="_ELTC8CgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="accountManager">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="account" id="_EShsUCgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="account">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contractor" id="_EZZwYCgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="contractor">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="location" id="_EgDyACgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="location">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="regionView" id="_EoiYkCgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="regionView">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="floor" id="_EwEj8CgbEei5K6PV_O0G8g" maxOccurs="1" minOccurs="0"
          name="floor">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="clientID" id="_E22hYCgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="clientID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="serviceType" id="_E_QPcCgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="serviceType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="GPSCoordinates" id="_FJZp8CgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="GPSCoordinates">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="bandwidthupdown" id="_FRZIUCgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="bandwidthupdown">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="technology" id="_ZHjacCgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="technology">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="serviceStatus" id="_bsIQACgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="serviceStatus">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="buildingName" id="_fRJ18CgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="buildingName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="buildingID" id="_fbmycCgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="buildingID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contactPerson" id="_flXycCgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="contactPerson">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="mobile" id="_f32CgCgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="mobile">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="sector" id="_mJ1lACgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="sector">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="email" id="_makIoCgbEei5K6PV_O0G8g" maxOccurs="1" minOccurs="0"
          name="email">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="serviceStart" id="_muZDkCgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="serviceStart" type="xsd:dateTime"/>
      <xsd:element ecore:name="serviceEnd" id="_nAZZkCgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="serviceEnd" type="xsd:dateTime"/>
      <xsd:element ecore:name="requestDate" id="_wzr4kCgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="requestDate" type="xsd:dateTime"/>
      <xsd:element ecore:name="installDate" id="_zyfMACgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="installDate" type="xsd:dateTime"/>
      <xsd:element ecore:name="notesComments" id="_1cKfkCgbEei5K6PV_O0G8g" maxOccurs="1"
          minOccurs="0" name="notesComments">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Technical_InformationElement" type="Technical_Information"/>
  <xsd:element name="Equipment_DetailsElement" type="Equipment_Details"/>
  <xsd:element name="Customer_InformationElement" type="Customer_Information"/>
</xsd:schema>