working/code/bw/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/Shared Resources/SchemaDefinitions/BPMBIZData.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://bizData.fosImpl.sfc.com/dataModel"
	 xmlns:tns1="http://bizData.fosImpl.sfc.com/dataModel"
	 xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://bizData.fosImpl.sfc.com/dataModel"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>BOMORIGIN::/com.sfc.fosImpl.dataModel/Business Objects/com.sfc.fosImpl.bizData.dataModel.bom</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType ecore:name="Technical_Information" id="_oVYmcBbLEei5zJcabt9kCg" name="Technical_Information">
		<xsd:sequence>
			<xsd:element ecore:name="carrierVLAN" id="_sjAdcBbLEei5zJcabt9kCg" name="carrierVLAN" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="carrierIP" id="_sjBrkBbLEei5zJcabt9kCg" name="carrierIP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="aggPoint" id="_sjBrkxbLEei5zJcabt9kCg" name="aggPoint" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="port" id="_sjCSoBbLEei5zJcabt9kCg" name="port" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="clientVLAN" id="_sjCSoxbLEei5zJcabt9kCg" name="clientVLAN" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="clientIP" id="_sjC5sBbLEei5zJcabt9kCg" name="clientIP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="SFCPOPPE" id="_sjC5sxbLEei5zJcabt9kCg" name="SFCPOPPE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="portType" id="_sjDgwBbLEei5zJcabt9kCg" name="portType" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="modifiedBy" id="_sjDgwxbLEei5zJcabt9kCg" name="modifiedBy" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="modifiedDate" id="_sjDgxhbLEei5zJcabt9kCg" name="modifiedDate" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element ecore:name="siebelCircuitID" id="_uvKzABbLEei5zJcabt9kCg" name="siebelCircuitID">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="equipment" id="_5luF0BbLEei5zJcabt9kCg" name="equipment" type="tns1:Equipment_Details" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="Equipment_Details" id="_0RkEkBbLEei5zJcabt9kCg" name="Equipment_Details">
		<xsd:sequence>
			<xsd:element ecore:name="type" id="_3IJ3NxbLEei5zJcabt9kCg" name="type" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="address" id="_3IKeQBbLEei5zJcabt9kCg" name="address" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="VLAN" id="_3IKeQxbLEei5zJcabt9kCg" name="VLAN" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="Customer_Information" id="_EtWckCgaEei5K6PV_O0G8g" name="Customer_Information">
		<xsd:sequence>
			<xsd:element ecore:name="siebelCircuitID" id="_A-_fACgbEei5K6PV_O0G8g" name="siebelCircuitID">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="projectManager" id="_C16kYCgbEei5K6PV_O0G8g" name="projectManager">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="clientName" id="_DNMb8CgbEei5K6PV_O0G8g" name="clientName" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="accountManager" id="_ELTC8CgbEei5K6PV_O0G8g" name="accountManager" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="account" id="_EShsUCgbEei5K6PV_O0G8g" name="account" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="contractor" id="_EZZwYCgbEei5K6PV_O0G8g" name="contractor" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="location" id="_EgDyACgbEei5K6PV_O0G8g" name="location" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="regionView" id="_EoiYkCgbEei5K6PV_O0G8g" name="regionView" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="floor" id="_EwEj8CgbEei5K6PV_O0G8g" name="floor" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="clientID" id="_E22hYCgbEei5K6PV_O0G8g" name="clientID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="serviceType" id="_E_QPcCgbEei5K6PV_O0G8g" name="serviceType" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="GPSCoordinates" id="_FJZp8CgbEei5K6PV_O0G8g" name="GPSCoordinates" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="bandwidthupdown" id="_FRZIUCgbEei5K6PV_O0G8g" name="bandwidthupdown" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="technology" id="_ZHjacCgbEei5K6PV_O0G8g" name="technology" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="serviceStatus" id="_bsIQACgbEei5K6PV_O0G8g" name="serviceStatus" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="buildingName" id="_fRJ18CgbEei5K6PV_O0G8g" name="buildingName" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="buildingID" id="_fbmycCgbEei5K6PV_O0G8g" name="buildingID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="contactPerson" id="_flXycCgbEei5K6PV_O0G8g" name="contactPerson" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="mobile" id="_f32CgCgbEei5K6PV_O0G8g" name="mobile" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="sector" id="_mJ1lACgbEei5K6PV_O0G8g" name="sector" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="email" id="_makIoCgbEei5K6PV_O0G8g" name="email" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="serviceStart" id="_muZDkCgbEei5K6PV_O0G8g" name="serviceStart" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element ecore:name="serviceEnd" id="_nAZZkCgbEei5K6PV_O0G8g" name="serviceEnd" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element ecore:name="requestDate" id="_wzr4kCgbEei5K6PV_O0G8g" name="requestDate" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element ecore:name="installDate" id="_zyfMACgbEei5K6PV_O0G8g" name="installDate" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element ecore:name="notesComments" id="_1cKfkCgbEei5K6PV_O0G8g" name="notesComments" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="address" id="_i-sdoEFUEeiWSuWFK3Y-hg" name="address" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="400"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="engineer" id="_laDs0EFUEeiWSuWFK3Y-hg" name="engineer" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="lastNotificationBy" id="_t_dcYEFUEeiWSuWFK3Y-hg" name="lastNotificationBy" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="lastNotificationDate" id="_w1DJcEFUEeiWSuWFK3Y-hg" name="lastNotificationDate" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="recordStatus" id="_zzlXIEFUEeiWSuWFK3Y-hg" name="recordStatus" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="400"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="Building_Mapping" id="_1XGCMEFdEeih74BcCGeYZw" name="Building_Mapping">
		<xsd:sequence>
			<xsd:element ecore:name="buildingCaseIdentifier" id="_-PQ8wEFdEeih74BcCGeYZw" name="buildingCaseIdentifier" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="19"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="building_ID" id="_DaPM0EFeEeih74BcCGeYZw" name="building_ID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ecore:name="building_Name" id="_GRE3EEFeEeih74BcCGeYZw" name="building_Name" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="400"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Technical_InformationElement" type="tns1:Technical_Information"/>
	<xsd:element name="Equipment_DetailsElement" type="tns1:Equipment_Details"/>
	<xsd:element name="Customer_InformationElement" type="tns1:Customer_Information"/>
	<xsd:element name="Building_MappingElement" type="tns1:Building_Mapping"/>
</xsd:schema>