working/code/bw/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/Shared Resources/SchemaDefinitions/sfcfosbpmschema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/SFC_FOS_BPM/SharedResources/SchemaDefinitions/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/SFC_FOS_BPM/SharedResources/SchemaDefinitions/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fetchresource"/>
				<xs:element ref="reportgeneration"/>
				<xs:element ref="reesourcecreationandmapping"/>
				<xs:element ref="workitemcompletion"/>
				<xs:element ref="fault"/>
				<xs:element ref="notifyPlanItemExecuteReply"/>
				<xs:element ref="WorkItemFetch"/>
				<xs:element ref="WorkItemAllocation"/>
				<xs:element ref="SendMail"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fetchresource">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fetchresourceinput"/>
				<xs:element ref="fetchresourceoutput"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportgeneration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="getprocessinstances"/>
				<xs:element ref="searchprocessinstances"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reesourcecreationandmapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="createresource"/>
				<xs:element ref="ldapentry"/>
				<xs:element ref="parsecsv"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="workitemcompletion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="workitemcompletioninput"/>
				<xs:element ref="workitemcompletionoutput"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="faultmessage" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fetchresourceinput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="processname" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fetchresourceoutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="resource" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="guid" type="xs:string"/>
							<xs:element name="label" type="xs:string"/>
							<xs:element name="name" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="workitemcompletioninput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sibelcircuitid" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="workitemcompletionoutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="outputmessage" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getprocessinstances">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="getprocessinstancesinput"/>
				<xs:element ref="getprocessinstancesoutput"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="searchprocessinstances">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="searchprocessinstancesinput"/>
				<xs:element ref="searchprocessinstancesoutput"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getprocessinstancesinput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="processname" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getprocessinstancesoutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pi_complete" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="process_instance" type="xs:string"/>
							<xs:element name="customer_name" type="xs:string"/>
							<xs:element name="sibelcircuit_id" type="xs:string"/>
							<xs:element name="projectmanager" type="xs:string"/>
							<xs:element name="cur_activity" type="xs:string"/>
							<xs:element name="status" type="xs:string"/>
							<xs:element name="exec_mills" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="pi_started" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="process_instance" type="xs:string"/>
							<xs:element name="customer_name" type="xs:string"/>
							<xs:element name="sibelcircuit_id" type="xs:string"/>
							<xs:element name="projectmanager" type="xs:string"/>
							<xs:element name="cur_activity" type="xs:string"/>
							<xs:element name="status" type="xs:string"/>
							<xs:element name="exec_mills" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="pi_halted" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="process_instance" type="xs:string"/>
							<xs:element name="customer_name" type="xs:string"/>
							<xs:element name="sibelcircuit_id" type="xs:string"/>
							<xs:element name="projectmanager" type="xs:string"/>
							<xs:element name="cur_activity" type="xs:string"/>
							<xs:element name="status" type="xs:string"/>
							<xs:element name="exec_mills" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="pi_cancelled" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="process_instance" type="xs:string"/>
							<xs:element name="customer_name" type="xs:string"/>
							<xs:element name="sibelcircuit_id" type="xs:string"/>
							<xs:element name="projectmanager" type="xs:string"/>
							<xs:element name="cur_activity" type="xs:string"/>
							<xs:element name="status" type="xs:string"/>
							<xs:element name="exec_mills" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="searchprocessinstancesinput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="searchkey" type="xs:string"/>
				<xs:element name="searchvalue" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="searchprocessinstancesoutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="searchrecord" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="process_instance" type="xs:string"/>
							<xs:element name="customer_name" type="xs:string"/>
							<xs:element name="sibelcircuit_id" type="xs:string"/>
							<xs:element name="projectmanager" type="xs:string"/>
							<xs:element name="cur_activity" type="xs:string"/>
							<xs:element name="status" type="xs:string"/>
							<xs:element name="exec_mills" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="createresource">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="createresourceinput"/>
				<xs:element ref="createresourceoutput"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ldapentry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ldapentryinput" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ldapentryoutput"/>
				<xs:element ref="ldapentryinputrepeat"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parsecsv">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="users" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" minOccurs="0"/>
							<xs:element name="orgname" type="xs:string" minOccurs="0"/>
							<xs:element name="flag" type="xs:string" minOccurs="0"/>
							<xs:element name="entityname" type="xs:string" minOccurs="0"/>
							<xs:element name="email" type="xs:string" minOccurs="0"/>
							<xs:element name="password" type="xs:string" minOccurs="0"/>
							<xs:element name="addby" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="createresourceinput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="createresourcerequest" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" minOccurs="0"/>
							<xs:element name="orgname" type="xs:string" minOccurs="0"/>
							<xs:element name="flag" type="xs:string" minOccurs="0"/>
							<xs:element name="entityname" type="xs:string" minOccurs="0"/>
							<xs:element name="email" type="xs:string" minOccurs="0"/>
							<xs:element name="password" type="xs:string" minOccurs="0"/>
							<xs:element name="addby" type="xs:string" minOccurs="0"/>
							<xs:element name="action" type="xs:string" minOccurs="0"/>
							<xs:element name="result" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="createresourceoutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="outputmessage" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ldapentryinput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="firstname" type="xs:string"/>
				<xs:element name="lastname" type="xs:string"/>
				<xs:element name="email" type="xs:string"/>
				<xs:element name="password" type="xs:string" minOccurs="0"/>
				<xs:element name="orgmodelname" type="xs:string"/>
				<xs:element name="flag" type="xs:string"/>
				<xs:element name="entity" type="xs:string"/>
				<xs:element name="addby" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ldapentryoutput" type="xs:string"/>
	<xs:element name="ldapentryinputrepeat">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="input" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="firstname" type="xs:string" minOccurs="0"/>
							<xs:element name="lastname" type="xs:string" minOccurs="0"/>
							<xs:element name="loginName" type="xs:string" minOccurs="0"/>
							<xs:element name="email" type="xs:string" minOccurs="0"/>
							<xs:element name="password" type="xs:string" minOccurs="0"/>
							<xs:element name="orgmodelname" type="xs:string" minOccurs="0"/>
							<xs:element name="flag" type="xs:string" minOccurs="0"/>
							<xs:element name="entity" type="xs:string" minOccurs="0"/>
							<xs:element name="addby" type="xs:string" minOccurs="0"/>
							<xs:element name="response" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="notifyPlanItemExecuteReply">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="notifyPlanItemExecuteReplyRequest"/>
				<xs:element ref="notifyPlanItemExecuteReplyResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="notifyPlanItemExecuteReplyRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="PlanItem"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="notifyPlanItemExecuteReplyResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="responseMessage" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PlanId" type="xs:string" minOccurs="0"/>
				<xs:element name="OrderId" type="xs:string" minOccurs="0"/>
				<xs:element name="OrderRefNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="CoRelationId" type="xs:string" minOccurs="0"/>
				<xs:element name="BussinessTransactionId" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlanItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UDF" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EvaluationPriority" type="xs:string" minOccurs="0"/>
							<xs:element name="Type" type="xs:string" minOccurs="0"/>
							<xs:element name="Flavour" type="xs:string" minOccurs="0"/>
							<xs:element name="Name" type="xs:string" minOccurs="0"/>
							<xs:element name="Value" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PlanItemId" type="xs:string" minOccurs="0"/>
				<xs:element name="resultCode" type="xs:string" minOccurs="0"/>
				<xs:element name="resultMessage" type="xs:string" minOccurs="0"/>
				<xs:element name="isError" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkItemFetch">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WorkItemFetchRequest"/>
				<xs:element ref="WorkItemFetchResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkItemLists">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WorkItems" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProcessName" type="xs:string" minOccurs="0"/>
				<xs:element name="CustomerName" type="xs:string" minOccurs="0"/>
				<xs:element name="SiebelCircuitID" type="xs:string" minOccurs="0"/>
				<xs:element name="TaskName" type="xs:string" minOccurs="0"/>
				<xs:element name="CurrentlyAllocated" type="xs:string" minOccurs="0"/>
				<xs:element name="WorkItemID" type="xs:string" minOccurs="0"/>
				<xs:element name="AllocateTo" type="xs:string" minOccurs="0"/>
				<xs:element name="Status" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RequestList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResourceName" type="xs:string" minOccurs="0"/>
				<xs:element name="ResourceGUID" type="xs:string" minOccurs="0"/>
				<xs:element name="ProjectManager" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkItemFetchRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RequestList" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkItemFetchResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WorkItemLists"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkItemAllocation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WorkItemAllocationRequest"/>
				<xs:element ref="WorkItemAllocationResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkItemAllocationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WorkItemLists"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkItemAllocationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WorkItemLists"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SendMail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SentMailRequest"/>
				<xs:element ref="SendMailResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SentMailRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ToField" type="xs:string" minOccurs="0"/>
				<xs:element name="Process" type="xs:string" minOccurs="0"/>
				<xs:element name="EmailType" type="xs:string" minOccurs="0"/>
				<xs:element name="SiebelCircuitID" type="xs:string" minOccurs="0"/>
				<xs:element name="UDF" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string" minOccurs="0"/>
							<xs:element name="Value" type="xs:string" minOccurs="0"/>
							<xs:element name="Flavour" type="xs:string" minOccurs="0"/>
							<xs:element name="Type" type="xs:string" minOccurs="0"/>
							<xs:element name="EvaluationType" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SendMailResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Status" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>