working/code/bpm/com.sfc.fosimpl.adminOps/.bom2Xsd/com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.tibco.com/schemas/SFC_FOS_BPM/SharedResources/SchemaDefinitions/Schema.xsd"
    xmlns:tns1="http://www.tibco.com/schemas/SFC_FOS_BPM/SharedResources/SchemaDefinitions/Schema.xsd"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.tibco.com/schemas/SFC_FOS_BPM/SharedResources/SchemaDefinitions/Schema.xsd">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.sfc.fosimpl.adminOps/Generated Business Objects/com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.Schema.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="ldapentryoutput" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" name="createresourceinput" nillable="false">
    <xsd:complexType ecore:name="createresourceinputType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemacreateresourceinputType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="createresourcerequest" form="qualified" maxOccurs="unbounded"
            minOccurs="0" name="createresourcerequest">
          <xsd:complexType ecore:name="createresourcerequestType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemacreateresourcerequestType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="name" form="qualified" maxOccurs="1" minOccurs="0"
                  name="name" type="xsd:string"/>
              <xsd:element ecore:name="orgname" form="qualified" maxOccurs="1" minOccurs="0"
                  name="orgname" type="xsd:string"/>
              <xsd:element ecore:name="flag" form="qualified" maxOccurs="1" minOccurs="0"
                  name="flag" type="xsd:string"/>
              <xsd:element ecore:name="entityname" form="qualified" maxOccurs="1"
                  minOccurs="0" name="entityname" type="xsd:string"/>
              <xsd:element ecore:name="email" form="qualified" maxOccurs="1" minOccurs="0"
                  name="email" type="xsd:string"/>
              <xsd:element ecore:name="password" form="qualified" maxOccurs="1" minOccurs="0"
                  name="password" type="xsd:string"/>
              <xsd:element ecore:name="addby" form="qualified" maxOccurs="1" minOccurs="0"
                  name="addby" type="xsd:string"/>
              <xsd:element ecore:name="action" form="qualified" maxOccurs="1" minOccurs="0"
                  name="action" type="xsd:string"/>
              <xsd:element ecore:name="result" form="qualified" maxOccurs="1" minOccurs="0"
                  name="result" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="createresourceoutput" nillable="false">
    <xsd:complexType ecore:name="createresourceoutputType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemacreateresourceoutputType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="outputmessage" form="qualified" maxOccurs="1" minOccurs="1"
            name="outputmessage" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="createresource" nillable="false">
    <xsd:complexType ecore:name="createresourceType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemacreateresourceType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="createresourceinput" maxOccurs="1" minOccurs="1"
            ref="tns1:createresourceinput"/>
        <xsd:element ecore:name="createresourceoutput" maxOccurs="1" minOccurs="1"
            ref="tns1:createresourceoutput"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="fault" nillable="false">
    <xsd:complexType ecore:name="faultType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemafaultType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="faultmessage" form="qualified" maxOccurs="1" minOccurs="1"
            name="faultmessage" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="fetchresourceinput" nillable="false">
    <xsd:complexType ecore:name="fetchresourceinputType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemafetchresourceinputType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="processname" form="qualified" maxOccurs="1" minOccurs="1"
            name="processname" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="fetchresourceoutput" nillable="false">
    <xsd:complexType ecore:name="fetchresourceoutputType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemafetchresourceoutputType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="resource" form="qualified" maxOccurs="unbounded"
            minOccurs="0" name="resource">
          <xsd:complexType ecore:name="resourceType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemaresourceType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="guid" form="qualified" maxOccurs="1" minOccurs="1"
                  name="guid" type="xsd:string"/>
              <xsd:element ecore:name="label" form="qualified" maxOccurs="1" minOccurs="1"
                  name="label" type="xsd:string"/>
              <xsd:element ecore:name="name" form="qualified" maxOccurs="1" minOccurs="1"
                  name="name" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="fetchresource" nillable="false">
    <xsd:complexType ecore:name="fetchresourceType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemafetchresourceType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="fetchresourceinput" maxOccurs="1" minOccurs="1" ref="tns1:fetchresourceinput"/>
        <xsd:element ecore:name="fetchresourceoutput" maxOccurs="1" minOccurs="1"
            ref="tns1:fetchresourceoutput"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="getprocessinstancesinput" nillable="false">
    <xsd:complexType ecore:name="getprocessinstancesinputType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemagetprocessinstancesinputType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="processname" form="qualified" maxOccurs="1" minOccurs="1"
            name="processname" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="getprocessinstancesoutput" nillable="false">
    <xsd:complexType ecore:name="getprocessinstancesoutputType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemagetprocessinstancesoutputType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="pi_complete" form="qualified" maxOccurs="unbounded"
            minOccurs="0" name="pi_complete">
          <xsd:complexType ecore:name="pi_completeType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.Schemapi_completeType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="process_instance" form="qualified" maxOccurs="1"
                  minOccurs="1" name="process_instance" type="xsd:string"/>
              <xsd:element ecore:name="customer_name" form="qualified" maxOccurs="1"
                  minOccurs="1" name="customer_name" type="xsd:string"/>
              <xsd:element ecore:name="sibelcircuit_id" form="qualified" maxOccurs="1"
                  minOccurs="1" name="sibelcircuit_id" type="xsd:string"/>
              <xsd:element ecore:name="projectmanager" form="qualified" maxOccurs="1"
                  minOccurs="1" name="projectmanager" type="xsd:string"/>
              <xsd:element ecore:name="cur_activity" form="qualified" maxOccurs="1"
                  minOccurs="1" name="cur_activity" type="xsd:string"/>
              <xsd:element ecore:name="status" form="qualified" maxOccurs="1" minOccurs="1"
                  name="status" type="xsd:string"/>
              <xsd:element ecore:name="exec_mills" form="qualified" maxOccurs="1"
                  minOccurs="1" name="exec_mills" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="pi_started" form="qualified" maxOccurs="unbounded"
            minOccurs="0" name="pi_started">
          <xsd:complexType ecore:name="pi_startedType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.Schemapi_startedType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="process_instance" form="qualified" maxOccurs="1"
                  minOccurs="1" name="process_instance" type="xsd:string"/>
              <xsd:element ecore:name="customer_name" form="qualified" maxOccurs="1"
                  minOccurs="1" name="customer_name" type="xsd:string"/>
              <xsd:element ecore:name="sibelcircuit_id" form="qualified" maxOccurs="1"
                  minOccurs="1" name="sibelcircuit_id" type="xsd:string"/>
              <xsd:element ecore:name="projectmanager" form="qualified" maxOccurs="1"
                  minOccurs="1" name="projectmanager" type="xsd:string"/>
              <xsd:element ecore:name="cur_activity" form="qualified" maxOccurs="1"
                  minOccurs="1" name="cur_activity" type="xsd:string"/>
              <xsd:element ecore:name="status" form="qualified" maxOccurs="1" minOccurs="1"
                  name="status" type="xsd:string"/>
              <xsd:element ecore:name="exec_mills" form="qualified" maxOccurs="1"
                  minOccurs="1" name="exec_mills" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="pi_halted" form="qualified" maxOccurs="unbounded"
            minOccurs="0" name="pi_halted">
          <xsd:complexType ecore:name="pi_haltedType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.Schemapi_haltedType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="process_instance" form="qualified" maxOccurs="1"
                  minOccurs="1" name="process_instance" type="xsd:string"/>
              <xsd:element ecore:name="customer_name" form="qualified" maxOccurs="1"
                  minOccurs="1" name="customer_name" type="xsd:string"/>
              <xsd:element ecore:name="sibelcircuit_id" form="qualified" maxOccurs="1"
                  minOccurs="1" name="sibelcircuit_id" type="xsd:string"/>
              <xsd:element ecore:name="projectmanager" form="qualified" maxOccurs="1"
                  minOccurs="1" name="projectmanager" type="xsd:string"/>
              <xsd:element ecore:name="cur_activity" form="qualified" maxOccurs="1"
                  minOccurs="1" name="cur_activity" type="xsd:string"/>
              <xsd:element ecore:name="status" form="qualified" maxOccurs="1" minOccurs="1"
                  name="status" type="xsd:string"/>
              <xsd:element ecore:name="exec_mills" form="qualified" maxOccurs="1"
                  minOccurs="1" name="exec_mills" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="pi_cancelled" form="qualified" maxOccurs="unbounded"
            minOccurs="0" name="pi_cancelled">
          <xsd:complexType ecore:name="pi_cancelledType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.Schemapi_cancelledType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="process_instance" form="qualified" maxOccurs="1"
                  minOccurs="1" name="process_instance" type="xsd:string"/>
              <xsd:element ecore:name="customer_name" form="qualified" maxOccurs="1"
                  minOccurs="1" name="customer_name" type="xsd:string"/>
              <xsd:element ecore:name="sibelcircuit_id" form="qualified" maxOccurs="1"
                  minOccurs="1" name="sibelcircuit_id" type="xsd:string"/>
              <xsd:element ecore:name="projectmanager" form="qualified" maxOccurs="1"
                  minOccurs="1" name="projectmanager" type="xsd:string"/>
              <xsd:element ecore:name="cur_activity" form="qualified" maxOccurs="1"
                  minOccurs="1" name="cur_activity" type="xsd:string"/>
              <xsd:element ecore:name="status" form="qualified" maxOccurs="1" minOccurs="1"
                  name="status" type="xsd:string"/>
              <xsd:element ecore:name="exec_mills" form="qualified" maxOccurs="1"
                  minOccurs="1" name="exec_mills" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="getprocessinstances" nillable="false">
    <xsd:complexType ecore:name="getprocessinstancesType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemagetprocessinstancesType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="getprocessinstancesinput" maxOccurs="1" minOccurs="1"
            ref="tns1:getprocessinstancesinput"/>
        <xsd:element ecore:name="getprocessinstancesoutput" maxOccurs="1" minOccurs="1"
            ref="tns1:getprocessinstancesoutput"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ldapentryinput" nillable="false">
    <xsd:complexType ecore:name="ldapentryinputType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemaldapentryinputType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="firstname" form="qualified" maxOccurs="1" minOccurs="1"
            name="firstname" type="xsd:string"/>
        <xsd:element ecore:name="lastname" form="qualified" maxOccurs="1" minOccurs="1"
            name="lastname" type="xsd:string"/>
        <xsd:element ecore:name="email" form="qualified" maxOccurs="1" minOccurs="1"
            name="email" type="xsd:string"/>
        <xsd:element ecore:name="password" form="qualified" maxOccurs="1" minOccurs="0"
            name="password" type="xsd:string"/>
        <xsd:element ecore:name="orgmodelname" form="qualified" maxOccurs="1" minOccurs="1"
            name="orgmodelname" type="xsd:string"/>
        <xsd:element ecore:name="flag" form="qualified" maxOccurs="1" minOccurs="1"
            name="flag" type="xsd:string"/>
        <xsd:element ecore:name="entity" form="qualified" maxOccurs="1" minOccurs="1"
            name="entity" type="xsd:string"/>
        <xsd:element ecore:name="addby" form="qualified" maxOccurs="1" minOccurs="0"
            name="addby" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ldapentryinputrepeat" nillable="false">
    <xsd:complexType ecore:name="ldapentryinputrepeatType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemaldapentryinputrepeatType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="input" form="qualified" maxOccurs="unbounded" minOccurs="0"
            name="input">
          <xsd:complexType ecore:name="inputType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemainputType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="firstname" form="qualified" maxOccurs="1" minOccurs="0"
                  name="firstname" type="xsd:string"/>
              <xsd:element ecore:name="lastname" form="qualified" maxOccurs="1" minOccurs="0"
                  name="lastname" type="xsd:string"/>
              <xsd:element ecore:name="loginName" form="qualified" maxOccurs="1" minOccurs="0"
                  name="loginName" type="xsd:string"/>
              <xsd:element ecore:name="email" form="qualified" maxOccurs="1" minOccurs="0"
                  name="email" type="xsd:string"/>
              <xsd:element ecore:name="password" form="qualified" maxOccurs="1" minOccurs="0"
                  name="password" type="xsd:string"/>
              <xsd:element ecore:name="orgmodelname" form="qualified" maxOccurs="1"
                  minOccurs="0" name="orgmodelname" type="xsd:string"/>
              <xsd:element ecore:name="flag" form="qualified" maxOccurs="1" minOccurs="0"
                  name="flag" type="xsd:string"/>
              <xsd:element ecore:name="entity" form="qualified" maxOccurs="1" minOccurs="0"
                  name="entity" type="xsd:string"/>
              <xsd:element ecore:name="addby" form="qualified" maxOccurs="1" minOccurs="0"
                  name="addby" type="xsd:string"/>
              <xsd:element ecore:name="response" form="qualified" maxOccurs="1" minOccurs="0"
                  name="response" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ldapentry" nillable="false">
    <xsd:complexType ecore:name="ldapentryType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemaldapentryType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="ldapentryinput" maxOccurs="unbounded" minOccurs="0"
            ref="tns1:ldapentryinput"/>
        <xsd:element ecore:name="ldapentryoutput" maxOccurs="1" minOccurs="1" ref="tns1:ldapentryoutput"/>
        <xsd:element ecore:name="ldapentryinputrepeat" maxOccurs="1" minOccurs="1"
            ref="tns1:ldapentryinputrepeat"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="parsecsv" nillable="false">
    <xsd:complexType ecore:name="parsecsvType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemaparsecsvType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="users" form="qualified" maxOccurs="unbounded" minOccurs="0"
            name="users">
          <xsd:complexType ecore:name="usersType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemausersType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="name" form="qualified" maxOccurs="1" minOccurs="0"
                  name="name" type="xsd:string"/>
              <xsd:element ecore:name="orgname" form="qualified" maxOccurs="1" minOccurs="0"
                  name="orgname" type="xsd:string"/>
              <xsd:element ecore:name="flag" form="qualified" maxOccurs="1" minOccurs="0"
                  name="flag" type="xsd:string"/>
              <xsd:element ecore:name="entityname" form="qualified" maxOccurs="1"
                  minOccurs="0" name="entityname" type="xsd:string"/>
              <xsd:element ecore:name="email" form="qualified" maxOccurs="1" minOccurs="0"
                  name="email" type="xsd:string"/>
              <xsd:element ecore:name="password" form="qualified" maxOccurs="1" minOccurs="0"
                  name="password" type="xsd:string"/>
              <xsd:element ecore:name="addby" form="qualified" maxOccurs="1" minOccurs="0"
                  name="addby" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="reesourcecreationandmapping" nillable="false">
    <xsd:complexType ecore:name="reesourcecreationandmappingType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemareesourcecreationandmappingType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="createresource" maxOccurs="1" minOccurs="1" ref="tns1:createresource"/>
        <xsd:element ecore:name="ldapentry" maxOccurs="1" minOccurs="1" ref="tns1:ldapentry"/>
        <xsd:element ecore:name="parsecsv" maxOccurs="1" minOccurs="1" ref="tns1:parsecsv"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="searchprocessinstancesinput" nillable="false">
    <xsd:complexType ecore:name="searchprocessinstancesinputType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemasearchprocessinstancesinputType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="searchkey" form="qualified" maxOccurs="1" minOccurs="1"
            name="searchkey" type="xsd:string"/>
        <xsd:element ecore:name="searchvalue" form="qualified" maxOccurs="1" minOccurs="1"
            name="searchvalue" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="searchprocessinstancesoutput" nillable="false">
    <xsd:complexType ecore:name="searchprocessinstancesoutputType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemasearchprocessinstancesoutputType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="searchrecord" form="qualified" maxOccurs="unbounded"
            minOccurs="0" name="searchrecord">
          <xsd:complexType ecore:name="searchrecordType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemasearchrecordType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="process_instance" form="qualified" maxOccurs="1"
                  minOccurs="1" name="process_instance" type="xsd:string"/>
              <xsd:element ecore:name="customer_name" form="qualified" maxOccurs="1"
                  minOccurs="1" name="customer_name" type="xsd:string"/>
              <xsd:element ecore:name="sibelcircuit_id" form="qualified" maxOccurs="1"
                  minOccurs="1" name="sibelcircuit_id" type="xsd:string"/>
              <xsd:element ecore:name="projectmanager" form="qualified" maxOccurs="1"
                  minOccurs="1" name="projectmanager" type="xsd:string"/>
              <xsd:element ecore:name="cur_activity" form="qualified" maxOccurs="1"
                  minOccurs="1" name="cur_activity" type="xsd:string"/>
              <xsd:element ecore:name="status" form="qualified" maxOccurs="1" minOccurs="1"
                  name="status" type="xsd:string"/>
              <xsd:element ecore:name="exec_mills" form="qualified" maxOccurs="1"
                  minOccurs="1" name="exec_mills" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="searchprocessinstances" nillable="false">
    <xsd:complexType ecore:name="searchprocessinstancesType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemasearchprocessinstancesType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="searchprocessinstancesinput" maxOccurs="1" minOccurs="1"
            ref="tns1:searchprocessinstancesinput"/>
        <xsd:element ecore:name="searchprocessinstancesoutput" maxOccurs="1" minOccurs="1"
            ref="tns1:searchprocessinstancesoutput"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="reportgeneration" nillable="false">
    <xsd:complexType ecore:name="reportgenerationType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemareportgenerationType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="getprocessinstances" maxOccurs="1" minOccurs="1"
            ref="tns1:getprocessinstances"/>
        <xsd:element ecore:name="searchprocessinstances" maxOccurs="1" minOccurs="1"
            ref="tns1:searchprocessinstances"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="workitemcompletioninput" nillable="false">
    <xsd:complexType ecore:name="workitemcompletioninputType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemaworkitemcompletioninputType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="sibelcircuitid" form="qualified" maxOccurs="1" minOccurs="1"
            name="sibelcircuitid" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="workitemcompletionoutput" nillable="false">
    <xsd:complexType ecore:name="workitemcompletionoutputType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemaworkitemcompletionoutputType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="outputmessage" form="qualified" maxOccurs="1" minOccurs="1"
            name="outputmessage" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="workitemcompletion" nillable="false">
    <xsd:complexType ecore:name="workitemcompletionType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemaworkitemcompletionType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="workitemcompletioninput" maxOccurs="1" minOccurs="1"
            ref="tns1:workitemcompletioninput"/>
        <xsd:element ecore:name="workitemcompletionoutput" maxOccurs="1" minOccurs="1"
            ref="tns1:workitemcompletionoutput"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="root" nillable="false">
    <xsd:complexType ecore:name="rootType" id="com.tibco.schemas.SFC_FOS_BPM.SharedResources.SchemaDefinitions.SchemarootType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="fetchresource" maxOccurs="1" minOccurs="1" ref="tns1:fetchresource"/>
        <xsd:element ecore:name="reportgeneration" maxOccurs="1" minOccurs="1" ref="tns1:reportgeneration"/>
        <xsd:element ecore:name="reesourcecreationandmapping" maxOccurs="1" minOccurs="1"
            ref="tns1:reesourcecreationandmapping"/>
        <xsd:element ecore:name="workitemcompletion" maxOccurs="1" minOccurs="1" ref="tns1:workitemcompletion"/>
        <xsd:element ecore:name="fault" maxOccurs="1" minOccurs="1" ref="tns1:fault"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>