working/code/bw/SFC_FOS_BPM/SFC_FOS_BPM/Concrete WSDL/Concret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/FetchResource/Schemas/Schema1.xsd" xmlns:ns2="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/FetchResource/Schemas/Schema2.xsd" xmlns:ns1="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/FetchResource/Schemas/Schema.xsd" xmlns:ns4="http://www.tibco.com/schemas/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/SubProcesses/ResourceCreationAndMapping/Schemas/Schema1.xsd" xmlns:ns3="http://www.tibco.com/schemas/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/SubProcesses/ResourceCreation/Schemas/Schema.xsd" xmlns:ns6="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/WorkCompletion/Schemas/Schema1.xsd" xmlns:ns5="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/WorkCompletion/Schemas/Schema.xsd" xmlns:ns8="http://www.tibco.com/schemas/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/SubProcesses/ResourceCreationAndMapping/Schemas/Schema3.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns7="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/WorkCompletion/Schemas/Schema2.xsd" xmlns:ns9="http://www.tibco.com/schemas/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/SubProcesses/ResourceCreationAndMapping/Schemas/Schema4.xsd" xmlns:tns="http://xmlns.example.com/1512120232805" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1512120232805">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/WorkCompletion/Schemas/Schema1.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/WorkCompletion/Schemas/Schema1.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="response" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/SubProcesses/ResourceCreationAndMapping/Schemas/Schema3.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/SubProcesses/ResourceCreationAndMapping/Schemas/Schema3.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="request" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="firstName" type="xs:string" minOccurs="0"/>
                                    <xs:element name="lastName" type="xs:string" minOccurs="0"/>
                                    <xs:element name="email" type="xs:string" minOccurs="0"/>
                                    <xs:element name="password" type="xs:string" minOccurs="0"/>
                                    <xs:element name="orgModelName" type="xs:string" minOccurs="0"/>
                                    <xs:element name="flag" type="xs:string" minOccurs="0"/>
                                    <xs:element name="entity" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/SubProcesses/ResourceCreationAndMapping/Schemas/Schema4.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/SubProcesses/ResourceCreationAndMapping/Schemas/Schema4.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="email" type="xs:string"/>
            <xs:element name="entity" type="xs:string"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="flag" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="ormodelName" type="xs:string"/>
            <xs:element name="outputString" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns9:firstName"/>
                        <xs:element ref="ns9:lastName"/>
                        <xs:element ref="ns9:email"/>
                        <xs:element ref="ns9:password"/>
                        <xs:element ref="ns9:ormodelName"/>
                        <xs:element ref="ns9:flag"/>
                        <xs:element ref="ns9:entity"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns9:outputString"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns9:request"/>
                        <xs:element ref="ns9:response"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/SubProcesses/ResourceCreationAndMapping/Schemas/Schema1.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/SubProcesses/ResourceCreationAndMapping/Schemas/Schema1.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="faultMessage" type="xs:string"/>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns4:faultMessage"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/SubProcesses/ResourceCreation/Schemas/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/SFC_FOS_BPM/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/SubProcesses/ResourceCreation/Schemas/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Details">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns3:Request" minOccurs="0"/>
                        <xs:element ref="ns3:Response"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GrpName" type="xs:string"/>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="OrgName" type="xs:string"/>
            <xs:element name="Request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns3:Name" minOccurs="0"/>
                        <xs:element ref="ns3:OrgName" minOccurs="0"/>
                        <xs:element ref="ns3:flag" minOccurs="0"/>
                        <xs:element ref="ns3:entityname" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Response" type="xs:string"/>
            <xs:element name="entityname" type="xs:string"/>
            <xs:element name="flag" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/WorkCompletion/Schemas/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/WorkCompletion/Schemas/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SibelCircuitid" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/WorkCompletion/Schemas/Schema2.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/WorkCompletion/Schemas/Schema2.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="faultMsg" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/FetchResource/Schemas/Schema2.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/FetchResource/Schemas/Schema2.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="faultmsg" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/FetchResource/Schemas/Schema1.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/FetchResource/Schemas/Schema1.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/FetchResource/Schemas/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/SafariTemplate/Processes/Provisioning/Adapter/SFC_Provisioning/FetchResource/Schemas/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="resources" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="guid" type="xs:string"/>
                                    <xs:element name="label" type="xs:string"/>
                                    <xs:element name="name" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="fetchResources-service0">
        <wsdl:port name="PortTypeEndpoint0" binding="tns:PortTypeEndpoint0Binding">
            <soap:address location="http://localhost:7070/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/Operations/fetchResources-service0.serviceagent/PortTypeEndpoint0"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="getResources">
            <wsdl:input message="tns:FetchResourceinput"/>
            <wsdl:output message="tns:FetchResourceoutput"/>
            <wsdl:fault name="fault1" message="tns:FetchResourcefault"/>
        </wsdl:operation>
        <wsdl:operation name="ResourceCreation">
            <wsdl:input message="tns:ResorceCreationiput"/>
            <wsdl:output message="tns:ResorceCreationoutput"/>
            <wsdl:fault name="fault1" message="tns:ResorceCreationfault"/>
        </wsdl:operation>
        <wsdl:operation name="WorkCompletion">
            <wsdl:input message="tns:WorkCompletioninput"/>
            <wsdl:output message="tns:WorkCompletionoutput"/>
            <wsdl:fault name="fault1" message="tns:WorkCompletionfault"/>
        </wsdl:operation>
        <wsdl:operation name="Onboarding">
            <wsdl:input message="tns:Onbordinginput"/>
            <wsdl:output message="tns:Onbordingoutput"/>
            <wsdl:fault name="fault1" message="tns:Onbordingfault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortTypeEndpoint0Binding" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getResources">
            <soap:operation style="document" soapAction="/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/Operations/fetchResources-service0.serviceagent/PortTypeEndpoint0/getResources"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ResourceCreation">
            <soap:operation style="document" soapAction="/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/Operations/fetchResources-service0.serviceagent/PortTypeEndpoint0/ResourceCreation"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="WorkCompletion">
            <soap:operation style="document" soapAction="/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/Operations/fetchResources-service0.serviceagent/PortTypeEndpoint0/WorkCompletion"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Onboarding">
            <soap:operation style="document" soapAction="/Processes/FOSBPMInterface/Adapter/FOSBPMInterface/Operations/fetchResources-service0.serviceagent/PortTypeEndpoint0/Onboarding"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="FetchResourceinput">
        <wsdl:part name="part1" element="ns0:root"/>
    </wsdl:message>
    <wsdl:message name="FetchResourceoutput">
        <wsdl:part name="part1" element="ns1:root"/>
    </wsdl:message>
    <wsdl:message name="FetchResourcefault">
        <wsdl:part name="part1" element="ns2:root"/>
    </wsdl:message>
    <wsdl:message name="ResorceCreationiput">
        <wsdl:part name="part1" element="ns3:Request"/>
    </wsdl:message>
    <wsdl:message name="ResorceCreationoutput">
        <wsdl:part name="part1" element="ns3:Response"/>
    </wsdl:message>
    <wsdl:message name="ResorceCreationfault">
        <wsdl:part name="part1" element="ns4:root"/>
    </wsdl:message>
    <wsdl:message name="WorkCompletioninput">
        <wsdl:part name="part1" element="ns5:root"/>
    </wsdl:message>
    <wsdl:message name="WorkCompletionoutput">
        <wsdl:part name="part1" element="ns6:root"/>
    </wsdl:message>
    <wsdl:message name="WorkCompletionfault">
        <wsdl:part name="part1" element="ns7:root"/>
    </wsdl:message>
    <wsdl:message name="Onbordinginput">
        <wsdl:part name="part1" element="ns8:root"/>
    </wsdl:message>
    <wsdl:message name="Onbordingoutput">
        <wsdl:part name="part1" element="ns9:response"/>
    </wsdl:message>
    <wsdl:message name="Onbordingfault">
        <wsdl:part name="part1" element="ns4:root"/>
    </wsdl:message>
</wsdl:definitions>