working/code/bpm/SFC_Provisioning_ToBe/.processOut/process/SFC_Provisioning_ToBe.xpdl/SFC_Provisioning_ToBe.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_MzQT8M9KEeeJ2ss4JPfKKA" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:ttns="http://example.com/sfc_provisioningbom" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SFC_Provisioning_ToBe" targetNamespace="http://www.tibco.com/bs3.0/_MzQT8M9KEeeJ2ss4JPfKKA" tibex:XPDL="SFC_Provisioning_ToBe.xpdl">
    <partnerLinkType name="SFC_Provisioning_ToBeProcess_PLT" xmlns="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <role name="SFC_Provisioning_ToBeProcessProvider" portType="ns:SFC_Provisioning_ToBeProcess"/>
  </partnerLinkType>
    <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_MzQT8M9KEeeJ2ss4JPfKKA" targetNamespace="http://www.tibco.com/bs3.0/_MzQT8M9KEeeJ2ss4JPfKKA"/>
    <xsd:schema xmlns="http://example.com/sfc_provisioningbom" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://example.com/sfc_provisioningbom" targetNamespace="http://example.com/sfc_provisioningbom">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/SFC_ProvisioningBOM/Business Objects/SFC_ProvisioningBOM.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType name="AccountType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NEW"/>
          <xsd:enumeration value="MIGRATION"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ServiceType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="INTERNET"/>
          <xsd:enumeration value="FIBER"/>
          <xsd:enumeration value="WIMAX"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Bandwidth">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="FFB5"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="TechnologyList">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="FIBER"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ServiceStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="REGISTERED"/>
          <xsd:enumeration value="VERIFIED"/>
          <xsd:enumeration value="APPROVED"/>
          <xsd:enumeration value="COMPLETED"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="EmailRecipient">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NONE"/>
          <xsd:enumeration value="GROUP"/>
          <xsd:enumeration value="PERSON"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="TaskRecipient">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NONE"/>
          <xsd:enumeration value="GROUP"/>
          <xsd:enumeration value="PERSON"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ProvisioningDataModel">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="siebelCircuitID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="projectManager">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="clientName">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="accountManager">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="account" type="AccountType"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="contractor">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="location">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="regionView">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="floor">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="clientID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="serviceType" type="ServiceType"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="GPSCoordinates">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="bandwidthupdown" type="Bandwidth"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="technology" type="TechnologyList"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="serviceStatus">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="buildingName">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="buildingID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="contactPerson">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="mobile">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="sector">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="email">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="serviceStart" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="serviceEnd" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="requestDate" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="installDate" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="notesComments">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SystemParameters">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="propertyName">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="propertyValue">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Case1">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="SLALevel">
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="19"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="taskName">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="SLA_Deadline">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="emailTo" type="EmailRecipient"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="taskTo" type="TaskRecipient"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="emailConfig">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="taskConfig">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AccountTypeElement">
        <xsd:simpleType>
          <xsd:restriction base="AccountType"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ServiceTypeElement">
        <xsd:simpleType>
          <xsd:restriction base="ServiceType"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="BandwidthElement">
        <xsd:simpleType>
          <xsd:restriction base="Bandwidth"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TechnologyListElement">
        <xsd:simpleType>
          <xsd:restriction base="TechnologyList"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ServiceStatusElement">
        <xsd:simpleType>
          <xsd:restriction base="ServiceStatus"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EmailRecipientElement">
        <xsd:simpleType>
          <xsd:restriction base="EmailRecipient"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TaskRecipientElement">
        <xsd:simpleType>
          <xsd:restriction base="TaskRecipient"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ProvisioningDataModelElement" type="ProvisioningDataModel"/>
      <xsd:element name="SystemParametersElement" type="SystemParameters"/>
      <xsd:element name="Case1Element" type="Case1"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SFC_Provisioning_ToBeProcess_CatchMessageEvent_INPUT">
    <wsdl:part name="ProvisioningData" type="ttns:ProvisioningDataModel"/>
  </wsdl:message>
  <wsdl:portType name="SFC_Provisioning_ToBeProcess" tibex:FlowContainer="_MzQT8c9KEeeJ2ss4JPfKKA">
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="CatchMessageEvent">
      <wsdl:input message="ns:SFC_Provisioning_ToBeProcess_CatchMessageEvent_INPUT" tibex:Event="_UeYzos9KEeeJ2ss4JPfKKA"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
